/* Copyright © 2005-2018 Kuali, Inc. - All Rights Reserved
 * You may use and modify this code under the terms of the Kuali, Inc.
 * Pre-Release License Agreement. You may not distribute it.
 *
 * You should have received a copy of the Kuali, Inc. Pre-Release License
 * Agreement with this file. If not, please write to license@kuali.co.
 */
.medusaStatusBox {
  background-color: white;
  border: 1px solid black;
}

.medusaStatusBox span.heading {
  width: 80%;
  float: left;
  text-align: center;
}

.medusaStatusBox span.value {
  width: 20%;
  text-align: center;
}

.treeview li a:hover {
  text-decoration: underline;
  color: red; 
  cursor: pointer;
}

.treeview li {
  list-style-type: none;
}

ul.treeview ul {
  background-color: transparent;
}
