**/.project
**/.classpath
**/.settings
**/target
**/.idea
**/coeus-db-client.iml
**/dependency-reduced-pom.xml
**/.DS_Store
**/Thumbs.db
bin
.project
.classpath
.settings
target
.idea
coeus-db-aws-lambda.iml
dependency-reduced-pom.xml
**/bin
