/* Copyright © 2005-2018 Kuali, Inc. - All Rights Reserved
 * You may use and modify this code under the terms of the Kuali, Inc.
 * Pre-Release License Agreement. You may not distribute it.
 *
 * You should have received a copy of the Kuali, Inc. Pre-Release License
 * Agreement with this file. If not, please write to license@kuali.co.
 */

.question label {
	font-weight: normal;
}

.question input[type="radio"] + label,
.question input[type="checkbox"] + label {
	font-weight: bold;
}

.questionaire-complete{
    font-size: 12px;
    color: green;
}

.questionaire-incomplete{
    font-size: 12px;
    color: #cccccc;
}
