/* Copyright © 2005-2018 Kuali, Inc. - All Rights Reserved
 * You may use and modify this code under the terms of the Kuali, Inc.
 * Pre-Release License Agreement. You may not distribute it.
 *
 * You should have received a copy of the Kuali, Inc. Pre-Release License
 * Agreement with this file. If not, please write to license@kuali.co.
 */


.kc-personnel-table .dataTables_filter, .kc-personnel-table .dataTables_length {
    display: none;
}

.kc-personnel-table th, .kc-personnel-table td, .kc-personnel-table table {
    border: none !important;
}

.kc-personnel-table tr {
    border-bottom: 1px solid #DDDDDD;
}

.kc-personnel-table tfoot {
    display: none;
}

.kc-personnel-table th {
    background-color: white !important;
    color: black !important;
}

.kc-personnel-table .uif-verticalRadioFieldset > span {
    margin: 0;
}

.credit-allocation .investigator {
    font-weight: bold;
}

.credit-allocation .unit {
    color: #999999;
}

.credit-allocation .investigator-total {
    font-weight: bold;
}

.credit-allocation .unit-total {
    font-weight: bold
}
